<div class="top_header" id="home">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="nav_top_fx_w3ls_agileinfo">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="logo-w3layouts-agileits">
          <h1> <a class="navbar-brand" href="index.html"><i class="fa fa-lock" aria-hidden="true"></i> Cybercom <span
                class="desc">Creation</span></a></h1>
        </div>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <div class="nav_right_top">

          <ul class="nav navbar-nav">
            <li [class.active]="currentURL.includes('home')" ><a href="home">Home</a></li>
            <li class="dropdown" [class.active]="currentURL.includes('company')"  >
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">
                Company <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="company/overview">Overview</a></li>
                <li><a href="company/corporatefacts">Corporate Facts</a></li>
                <li><a href="company/our-values">Our Values</a></li>
                <li><a href="company/quality-policy">Quality Policy</a></li>
              </ul>
            </li>
            <li class="dropdown" [class.active]="currentURL.includes('partnership')" >
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">
                Partnership <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="partnership/outsourcing">Outsourcing (Alliance)</a></li>
                <li><a href="partnership/reseller">Reseller (Focus on sales)</a></li>
                <li><a href="partnership/representative">Representative (Offshore)</a></li>
                <li><a href="partnership/referral">Referral (Benefit of Trust)</a></li>
              </ul>
            </li>
            <li  [class.active]="currentURL.includes('techonology')"><a href="techonology">Technology</a></li>
            <li class="dropdown" [class.active]="currentURL.includes('services')">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">
                Services <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="services/consulting">Consulting</a></li>
                <li><a href="services/design">Design</a></li>
                <li><a href="services/development">Development</a></li>
                <li><a href="services/data-handling">Data Handling</a></li>
                <li><a href="services/management">Management</a></li>
              </ul>
            </li>
            <li class="dropdown" [class.active]="currentURL.includes('work')">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">
                Work <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="work/ecommerce">E-Commerce</a></li>
                <li><a href="work/mobile-app">Mobile Applications</a></li>
              </ul>
            </li>
              <li [class.active]="currentURL.includes('contact')"><a href="contact">Contact</a></li>
          </ul>
        </div>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
</div>