<!--/banner_info-->
<div class="banner_inner_con">
</div>
<!--//banner_info-->
<div class="banner_bottom">
  <div class="container">
    <h3 class="tittle-w3ls">E-Commerce</h3>
    <div class="inner_sec">
      <ul class="portfolio-categ filter">
        <span class="port-filter all active">
          <a>700+ successful e-commerce sites</a>
        </span>
      </ul>
    </div>
    <div class="inner_sec_info_wthree_agile">
      <div class="help_full">        
        <div class="col-md-12">
          <p>We build, innovate and collaborate in the name of successful results. View some of our recent journeys to Destination.</p>
          <p>Cybercom Creation is excelled as one of the top Magento solution provider. We have developed and launched more than 700 eCommerce sites on Magento eCommerce platform. We are your dedicated and experienced partner for all your e-commerce projects. We offer advice, support and services right from initial stage all the way to the final roll-out of your online store. Whether your business model is B2C or B2B, we are dedicated to providing the most comprehensive service for a solid and long-term growth of your e-commerce business.</p>
          <p>Below you can find some of our best work for inspiration.</p>
        </div>
        <div class="clearfix"></div>     
      </div>
    </div>
  </div>
</div>
<!--/projects-->
<div class="banner_bottom proj">
  <div class="wrap_view">
    <h3 class="tittle-w3ls">Projects</h3>
    <div class="inner_sec">
      <ul class="portfolio-area">

        <li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
          <div>
            <span class="image-block img-hover">
            <a class="image-zoom" href="assets/images/projects/1stopbedrooms.png" rel="prettyPhoto[gallery]">
            
                <img src="assets/images/projects/1stopbedrooms.png" class="img-responsive" alt="Conceit">
                <div class="port-info">
                    <h5>1 stop bedrooms</h5>                   
                  </div>
            </a>
          </span>
          </div>
        </li>


        <li class="portfolio-item2" data-id="id-1" data-type="cat-item-2">
          <div>
            <span class="image-block">
            <a class="image-zoom" href="assets/images/projects/FMN.png" rel="prettyPhoto[gallery]">
              
                <img src="assets/images/projects/FMN.png" class="img-responsive" alt="Conceit">
              <div class="port-info">
                    <h5>Frame My Name</h5>
                  
                  </div>
            </a>
          </span>
          </div>
        </li>


        <li class="portfolio-item2" data-id="id-2" data-type="cat-item-1">
          <div>
            <span class="image-block">
            <a class="image-zoom" href="assets/images/projects/fushi.png" rel="prettyPhoto[gallery]">
            
                <img src="assets/images/projects/fushi.png" class="img-responsive" alt="Conceit">
              <div class="port-info">
                    <h5>Fushi</h5>
                   
                  </div>
            </a>
          </span>
          </div>
        </li>


        <li class="portfolio-item2" data-id="id-3" data-type="cat-item-4">
          <div>
            <span class="image-block">
            <a class="image-zoom" href="assets/images/projects/displayWizard.png" rel="prettyPhoto[gallery]">
              
                <img src="assets/images/projects/displayWizard.png" class="img-responsive" alt="Conceit">
                <div class="port-info">
                    <h5>Display Wizard</h5>
                   
                  </div>
            </a>
          </span>
          </div>
        </li>


        <li class="portfolio-item2" data-id="id-4" data-type="cat-item-3">
          <div>
            <span class="image-block">
            <a class="image-zoom" href="assets/images/projects/partybounty.png" rel="prettyPhoto[gallery]">
              
                <img src="assets/images/projects/partybounty.png" class="img-responsive" alt="Conceit">
                <div class="port-info">
                    <h5>Party Bounty</h5>                 
                  </div>
            </a>
          </span>
          </div>
        </li>


        <li class="portfolio-item2" data-id="id-5" data-type="cat-item-2">
          <div>
            <span class="image-block">
            <a class="image-zoom" href="assets/images/projects/pavilionBroadway.png" rel="prettyPhoto[gallery]">
              
                <img src="assets/images/projects/pavilionBroadway.png" class="img-responsive" alt="Conceit">
                <div class="port-info">
                    <h5>Pavilion</h5>
                    
                  </div>
            </a>
          </span>
          </div>
        </li>


        <li class="portfolio-item2" data-id="id-6" data-type="cat-item-1">
          <div>
            <span class="image-block">
            <a class="image-zoom" href="assets/images/projects/magnifibres.png" rel="prettyPhoto[gallery]">
            
                <img src="assets/images/projects/magnifibres.png" class="img-responsive" alt="Conceit">
                    <div class="port-info">
                    <h5>Magni Fibres</h5>
                 
                  </div>
            </a>
          </span>
          </div>
        </li>
        <li class="portfolio-item2" data-id="id-7" data-type="cat-item-1">
          <div>
            <span class="image-block">
            <a class="image-zoom" href="assets/images/projects/saletab.png" rel="prettyPhoto[gallery]">              
                <img src="assets/images/projects/saletab.png" class="img-responsive" alt="Conceit">
                  <div class="port-info">
                    <h5>Saletab</h5>           
                  </div>            
            </a>
          </span>
          </div>
        </li>
        <li class="portfolio-item2" data-id="id-7" data-type="cat-item-1">
          <div>
            <span class="image-block">
            <a class="image-zoom" href="assets/images/projects/qc_new.jpg" rel="prettyPhoto[gallery]">              
                <img src="assets/images/projects/qc_new.jpg" class="img-responsive" alt="Conceit">
                  <div class="port-info">
                    <h5>Quantum Courage</h5>           
                  </div>            
            </a>
          </span>
          </div>
        </li>
        <li class="portfolio-item2" data-id="id-7" data-type="cat-item-1">
          <div>
            <span class="image-block">
            <a class="image-zoom" href="assets/images/projects/studioluka.png" rel="prettyPhoto[gallery]">              
                <img src="assets/images/projects/studioluka.png" class="img-responsive" alt="Conceit">
                  <div class="port-info">
                    <h5>Luka</h5>           
                  </div>            
            </a>
          </span>
          </div>
        </li>
        <li class="portfolio-item2" data-id="id-7" data-type="cat-item-1">
          <div>
            <span class="image-block">
            <a class="image-zoom" href="assets/images/projects/shubox.png" rel="prettyPhoto[gallery]">              
                <img src="assets/images/projects/shubox.png" class="img-responsive" alt="Conceit">
                  <div class="port-info">
                    <h5>Shubox</h5>           
                  </div>            
            </a>
          </span>
          </div>
        </li>
        <li class="portfolio-item2" data-id="id-7" data-type="cat-item-1">
          <div>
            <span class="image-block">
            <a class="image-zoom" href="assets/images/projects/nanogen.png" rel="prettyPhoto[gallery]">              
                <img src="assets/images/projects/nanogen.png" class="img-responsive" alt="Conceit">
                  <div class="port-info">
                    <h5>Nanogen</h5>           
                  </div>            
            </a>
          </span>
          </div>
        </li>
        <li class="portfolio-item2" data-id="id-7" data-type="cat-item-1">
          <div>
            <span class="image-block">
            <a class="image-zoom" href="assets/images/projects/teabox.png" rel="prettyPhoto[gallery]">              
                <img src="assets/images/projects/teabox.png" class="img-responsive" alt="Conceit">
                  <div class="port-info">
                    <h5>Teabox</h5>           
                  </div>            
            </a>
          </span>
          </div>
        </li>
        <li class="portfolio-item2" data-id="id-7" data-type="cat-item-1">
          <div>
            <span class="image-block">
            <a class="image-zoom" href="assets/images/projects/colourblocker.png" rel="prettyPhoto[gallery]">              
                <img src="assets/images/projects/colourblocker.png" class="img-responsive" alt="Conceit">
                  <div class="port-info">
                    <h5>Colour Blocker</h5>           
                  </div>            
            </a>
          </span>
          </div>
        </li>
        <li class="portfolio-item2" data-id="id-7" data-type="cat-item-1">
          <div>
            <span class="image-block">
            <a class="image-zoom" href="assets/images/projects/CrystalGames.png" rel="prettyPhoto[gallery]">              
                <img src="assets/images/projects/CrystalGames.png" class="img-responsive" alt="Conceit">
                  <div class="port-info">
                    <h5>Crystal-Games</h5>           
                  </div>            
            </a>
          </span>
          </div>
        </li>
        <li class="portfolio-item2" data-id="id-7" data-type="cat-item-1">
          <div>
            <span class="image-block">
            <a class="image-zoom" href="assets/images/projects/buyslippers.png" rel="prettyPhoto[gallery]">              
                <img src="assets/images/projects/buyslippers.png" class="img-responsive" alt="Conceit">
                  <div class="port-info">
                    <h5>Buy Slippers</h5>           
                  </div>            
            </a>
          </span>
          </div>
        </li>
        <li class="portfolio-item2" data-id="id-7" data-type="cat-item-1">
          <div>
            <span class="image-block">
            <a class="image-zoom" href="assets/images/projects/motorsweden.png" rel="prettyPhoto[gallery]">              
                <img src="assets/images/projects/motorsweden.png" class="img-responsive" alt="Conceit">
                  <div class="port-info">
                    <h5>Motor Sweden</h5>           
                  </div>            
            </a>
          </span>
          </div>
        </li>
        <li class="portfolio-item2" data-id="id-7" data-type="cat-item-1">
          <div>
            <span class="image-block">
            <a class="image-zoom" href="assets/images/projects/debrabell.png" rel="prettyPhoto[gallery]">              
                <img src="assets/images/projects/debrabell.png" class="img-responsive" alt="Conceit">
                  <div class="port-info">
                    <h5>Dabra Bell</h5>           
                  </div>            
            </a>
          </span>
          </div>
        </li>
        <li class="portfolio-item2" data-id="id-7" data-type="cat-item-1">
          <div>
            <span class="image-block">
            <a class="image-zoom" href="assets/images/projects/richrocks.png" rel="prettyPhoto[gallery]">              
                <img src="assets/images/projects/richrocks.png" class="img-responsive" alt="Conceit">
                  <div class="port-info">
                    <h5>Rich Rocks</h5>           
                  </div>            
            </a>
          </span>
          </div>
        </li>
        <li class="portfolio-item2" data-id="id-7" data-type="cat-item-1">
          <div>
            <span class="image-block">
            <a class="image-zoom" href="assets/images/projects/shoepalace.png" rel="prettyPhoto[gallery]">              
                <img src="assets/images/projects/shoepalace.png" class="img-responsive" alt="Conceit">
                  <div class="port-info">
                    <h5>Shoe Palace</h5>           
                  </div>            
            </a>
          </span>
          </div>
        </li>
        <li class="portfolio-item2" data-id="id-7" data-type="cat-item-1">
          <div>
            <span class="image-block">
            <a class="image-zoom" href="assets/images/projects/muscleegg.png" rel="prettyPhoto[gallery]">              
                <img src="assets/images/projects/muscleegg.png" class="img-responsive" alt="Conceit">
                  <div class="port-info">
                    <h5>Muscle Egg</h5>           
                  </div>            
            </a>
          </span>
          </div>
        </li>
        <div class="clearfix"></div>
      </ul>
      <!--end portfolio-area -->
    </div>
  </div>
</div>
<!--//projects-->