
<!--#region /management -->
<div class="banner_bottom ">
  <div class="container">
    <h3 class="tittle-w3ls">Management</h3>
    <div class="inner_sec_info_wthree_agile">
      <p>
        Team Cybercom helps you right from the initial stage which can be tailored to include every things from basic
        project coordination up to a full project management covering areas such as analysis to development, governance
        project manager and recommending tools and technology.
      </p>
      <div class="col-md-3 team_grid_info">
        <h4>Communication</h4>
        <div class="team_icons">
          <ul>
            <li>Email</li>
            <li>Live chat on Skype, gtalk</li>
            <li>Phone / audio conference</li>
            <li>Screen sharing ( teamviewer, gotomeeting )</li>
          </ul>
        </div>

      </div>

      <div class="col-md-3 team_grid_info">
        <h4>Documentation</h4>
        <div class="team_icons">
          <ul>
            <li>NDA, service contract, project quote</li>
            <li>SRS, FDS, DFD, wireframes, design psds</li>
            <li>Data dictionary, SDS, SDD</li>
            <li>Administrative documents </li>
          </ul>
        </div>

      </div>
      <div class="col-md-3 team_grid_info">
        <h4>Reporting</h4>
        <div class="team_icons">
          <ul>
            <li>Project management system</li>
            <li>Daily status updates </li>
            <li>Scheduled meetings</li>
            <li>Documented reports</li>
          </ul>
        </div>

      </div>
      <div class="col-md-3 team_grid_info">
        <h4>Deployment</h4>
        <div class="team_icons">
          <ul>
            <li>Release process and planning</li>
            <li>Promotions ( catalogue and shopping cart rules )</li>
            <li>Staging server setup for UAT </li>
            <li>Minimum or NO downtime</li>
          </ul>
        </div>

      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- #endregion //management  -->
