<link href="assets/css/contact.css" rel="stylesheet" type="text/css" media="all" />

<!-- /inner_content -->
<div class="banner_bottom">
  <div class="container">

    <div class="mail_form">
      <h3 class="tittle-w3ls">Send Us a Message</h3>
      <div class="inner_sec_info_wthree_agile">
        <form action="#" method="post">
          <span class="input input--chisato">
            <input class="input__field input__field--chisato" name="Name" type="text" id="input-13" placeholder=" "
              required="" />
            <label class="input__label input__label--chisato" for="input-13">
              <span class="input__label-content input__label-content--chisato" data-content="Name">Name</span>
            </label>
          </span>
          <span class="input input--chisato">
            <input class="input__field input__field--chisato" name="Email" type="email" id="input-14" placeholder=" "
              required="" />
            <label class="input__label input__label--chisato" for="input-14">
              <span class="input__label-content input__label-content--chisato" data-content="Email">Email</span>
            </label>
          </span>
          <span class="input input--chisato">
            <input class="input__field input__field--chisato" name="Subject" type="text" id="input-15" placeholder=" "
              required="" />
            <label class="input__label input__label--chisato" for="input-15">
              <span class="input__label-content input__label-content--chisato" data-content="Subject">Subject</span>
            </label>
          </span>
          <textarea name="Message" placeholder="Your comment here..." required=""></textarea>
          <input type="submit" value="Submit">
        </form>

      </div>
    </div>
    <div class="inner_sec_info_wthree_agile">
      <div class="col-md-12 map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.81560562914!2d72.52823231455528!3d23.030541684949075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e84b45d8ccb8f%3A0x90291bba47e8c92a!2sCybercom+Creation!5e0!3m2!1sen!2sin!4v1556534367405!5m2!1sen!2sin"
      width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>    
      <div class="clearfix"> </div>
    </div>
  </div>
</div>