

<!--#region /data -->
<div class="banner_bottom proj">
  <div class="container">
    <h3 class="tittle-w3ls">Data</h3>
    <div class="inner_sec_info_wthree_agile">
      <p>
        As per our experience and during our research its very important to manage data by importing it to
        synchronization and its management thus client can take full advantage of data they collect. Because its all
        about the data.
      </p>
      <div class="col-md-4 team_grid_info">
        <h4>Import</h4>
        <div class="team_icons">
          <ul>
            <li>For the New Magento stores we will provide service to import all the product, customer data and site
              content in magento database from any format provided for mass import.</li>
            <li>In case of migration from any other ecommerce platform, we will export the data from current database
              and process it to import it in the magento database without any loss of information and data integrity.</li>
            <li>We can establish a system to import periodic product data updates from external database or
              webservices.</li>

          </ul>
        </div>

      </div>
      <div class="col-md-4 team_grid_info">
        <h4>Synchronization </h4>
        <div class="team_icons">
          <ul>
            <li>We can deliver efficient solutions to integrate magento database with any external system for periodic
              data synchronization of product, customer, order or any other required data.</li>
            <li>We also provide customized Magento API webservices to allow any Accounting, CRM or ERP systems to sync
              data with Magento system flawlessly.</li>


          </ul>
        </div>

      </div>
      <div class="col-md-4 team_grid_info">
        <h4>Management</h4>
        <div class="team_icons">
          <ul>
            <li>Regular database backups</li>
            <li>Database tables integrity check</li>
            <li>Data caching and indexing for large databases </li>
            <li>Database cleanup to maintain the size</li>
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- #endregion //data  -->