
<!--#region /development -->
<div class="banner_bottom  ">
  <div class="container">
    <h3 class="tittle-w3ls">Development</h3>
    <div class="inner_sec_info_wthree_agile">
      <p>
        Project development process From Custom development from scratch in any technology (ie. PHP/.NET) or using Open
        source platforms and making Mobile Applications (iOS / Android) or Cross platforms.
      </p>
      <p>
        At Cybercom project development is the process and the facility of planning, organizing, coordinating and
        controlling the resources to accomplish successful development. The process takes from concept through
        construction.
      </p>
      <div class="col-md-3 team_grid_info">
        <h4>Module Customization</h4>
        <div class="team_icons">
          <ul>
            <li>New module development as per the business process</li>
            <li>Integrate Magento core functions in custom module</li>
            <li>Extend default Magento functionality as required</li>
            <li>Magento coding standards to maintain code integrity </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 team_grid_info">
        <h4>Extension setup</h4>
        <div class="team_icons">
          <ul>
            <li>Installation of any paid or free extensions</li>
            <li>Configuration to make it functional</li>
            <li>Further customization as per requirements</li>
            <li>Compatibility check with other installed extensions</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 team_grid_info">
        <h4>Version Upgrade</h4>
        <div class="team_icons">
          <ul>
            <li>Magento core files</li>
            <li>Database Tables</li>
            <li>Installed extensions</li>
            <li>Frontend Template</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 team_grid_info">
        <h4>System Configuration</h4>
        <div class="team_icons">
          <ul>
            <li>Catalogue ( product, category, attributes, pricelist etc. )</li>
            <li>Promotions ( catalogue and shopping cart rules )</li>
            <li>Tax, Shipping methods, payment gateways, currency </li>
            <li>Email templates, languages, CMS blocks, etc.</li>
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- #endregion //development  -->