
<!--#region design /team -->
<div class="banner_bottom proj">
  <div class="container">
    <h3 class="tittle-w3ls">Design</h3>
    <div class="inner_sec_info_wthree_agile">
      <p>
        There is a lot of value in offering more personalized UX/UI experiences to help your target audiences to help
        them feel special, rather than just one of the masses. In the Design experience, we take care about strategic
        foundation of your identity and image, provide visual Design with quality Graphics and easy informative
        navigation and do the proto types and template integration on decided technological platforms.
      </p>
      <h3>User Experience and interface</h3>
      <div class="col-md-3 team_grid_info">
        <h4>Strategic Foundation</h4>
        <div class="team_icons">
          <ul>
            <li>Unique and outstanding design</li>
            <li>Include expected functionality</li>
            <li>Credible and organized information</li>
            <li>Purposeful and sufficient content</li>
          </ul>
        </div>

      </div>
      <div class="col-md-3 team_grid_info">
        <h4>Information Architecture</h4>
        <div class="team_icons">
          <ul>
            <li>Easy and appropriate navigation</li>
            <li>Intuitive and consistent structure</li>
            <li>Proper categorization of data</li>
            <li>Interactive design with validations</li>
          </ul>
        </div>

      </div>
      <div class="col-md-3 team_grid_info">
        <h4>Visual Design</h4>
        <div class="team_icons">
          <ul>
            <li>Graphic elements and media</li>
            <li>Color scheme and typography</li>
            <li>Presentation and placements</li>
            <li>Incorporate brand identity</li>
          </ul>
        </div>

      </div>
      <div class="col-md-3 team_grid_info">
        <h4>Template Implementation</h4>
        <div class="team_icons">
          <ul>
            <li>Maintain code integrity</li>
            <li>Responsive for all screen sizes</li>
            <li>Minimum response time </li>
            <li>Comply coding standards</li>
          </ul>
        </div>

      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- #endregion //design  -->