<!--/banner_info-->
<div class="banner_inner_con">
</div>
<!--//banner_info-->
<app-consulting></app-consulting>
<app-design></app-design>
<app-development></app-development>
<app-data-handling></app-data-handling>
<app-management></app-management>
	<!-- #region /banner-bottom-->
	<div class="banner_bottom">
		<div class="container">
			<h3 class="tittle-w3ls">Let’s Change How We Manage Business
			</h3>
			<div class="inner_sec_info_wthree_agile">
				<div class="help_full">

					<div class="col-md-6 banner_bottom_left">
						<ul>
              <li>NEW</li>
              <li>MIGRATE</li>
              <li>REVAMP</li>
              <li>SUPPORT</li>
            </ul>							
					</div>

					<div class="col-md-6 banner_bottom_grid help">
						<img src="assets/images/egg1.png" alt=" " class="img-responsive">
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- #endregion //banner-bottom-->